# Arquivos de Log e Dependências
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
dist
build

# Arquivos de Configuração do OS
.DS_Store
Thumbs.db

# Arquivos de Variáveis de Ambiente
# NUNCA envie seus segredos (senhas de banco, chaves de API)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos do NestJS (Backend)
/backend/dist
/backend/node_modules

# Arquivos do React (Frontend)
/frontend/build
/frontend/node_modules

# Ignora todos os arquivos de IDE...
.vscode/*

# ...EXCETO os arquivos que queremos compartilhar com a equipe
!.vscode/settings.json
!.vscode/extensions.json